body {
  margin: 0;
  padding: 0;
  color: #1a1a1a;
  font-family: 'Noto Sans JP', sans-serif;
  background: #f6f5f4;
}

header {
  width: 100%;
  background: #b1b1b1;
  display: flex; /* flexboxを作る */
  align-items: center; /* 上下中央に揃える */
  justify-content: space-between; /* 両端に配置 */
  padding-left: 30px;
  padding-right: 30px;
  position: fixed;
  top: 0px;                   /* 位置(上0px) */
  left: 0px;                  /* 位置(右0px) */
  width: 100%;                /* 横幅100%　*/
  height: 200px;   
  box-sizing: border-box;
}

footer {
  background: #b1b1b1;
  display: flex; /* flexboxを作る */
  align-items: center; /* 上下中央に揃える */
  justify-content: space-between; /* 両端に配置 */
  padding-left: 30px;
  padding-right: 30px;
  position: fixed;            /* フッターの固定 */
  bottom: 0px;                /* 位置(下0px) */
  left: 0px;                  /* 位置(左0px) */
  width: 100%;                /* 横幅100%　*/
  height: 200px;              /* 縦幅140px */
  box-sizing: border-box;
}

h1 a {
  color: #1a1a1a;
  font-size: 40px;
  text-decoration: none;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  /* width: 100%; */
}
nav {
  width: 100%;
  height: 100%;
}
ul a {
  width: 100%;
  height: 100%;
}
ul li a {
  padding: 10px 15px;
  color: #1a1a1a;
  text-decoration: none;
  font-weight: bold;
  font-size: 35px;
  width: 100%;
  height: 100%;
}

ul li a:hover {
  text-decoration: underline;
}

li {
  width: 100%;
  margin: auto;
}
nav {
  vertical-align: middle;
}
.settings {
  margin-left: auto;
  margin-top: auto;
}