{% extends "main/layout.html" %}

{% block mainblock %}
  {% comment %} <h1>依頼詳細画面</h1> {% endcomment %}

  <form action="{% url 'main:detail' id %}" method="post">
    <p>この案件とマッチングしたい場合は、チェックを入れてください</p>
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="マッチング開始">
    <table>
      <tr>
        {% for col in header %}
        <th>{{ col }}</th>
        {% endfor %}
      </tr>
      {% for post in posts reversed %}
      <tr>
        <td>{{ post.client_id }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.departure_place }}</td>
        <td>{{ post.destination_place }}</td>
        <td>{{ post.delivery_date }}</td>
        <td>{{ post.asking_price }}</td>
        <td>{{ post.text }}</td>
      </tr>
    </table>
      {% if post.photo %}
        <div>
          <img src="{{ post.photo.url }}" width="50%" height="50%"/>
        </div>
      {% endif %}
      {% endfor %}
  </form>

{% endblock %}