{% extends "main/layout.html" %} 

{% block mainblock %}
  <h1>マッチング一覧</h1>
  <a href="{% url 'main:history' %}">
    <button>取引中</button>
  </a>
  <a href="{% url 'main:match_complete' %}">
    <button>取引完了</button>
  </a>
  <a href="{% url 'main:favorites' %}">
    <button>お気に入り</button>
  </a>
  <h3>お気に入り</h3>
  <table>
    <tr>
      {% for col in header %}
      <th>{{ col }}</th>
      {% endfor %}
    </tr>
    {% for post in posts reversed %}
    <tr>
      <td>{{ post.client_id }}</td>
      <td>{{ post.title }}</td>
      <td>{{ post.departure_place }}</td>
      <td>{{ post.destination_place }}</td>
      <td>{{ post.delivery_date }}</td>
      <td>{{ post.text }}</td>
      <td><a href="{% url 'main:detail' post.id %}">詳細画面</a></td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}