{% extends "main/layout.html" %}

{% block mainblock %}

<h1>依頼一覧</h1>

{% comment %} <ul class="accordion-area">

<li>
<section>
<h3 class="title">タイトル</h3>
<div class="box">
<p>内容が入ります。</p>
</div>
</section>
</li>

</ul>
<ul class="accordion-area">

<li>
<section>
<h3 class="title">タイトル</h3>
<div class="box">
<p>内容が入ります。</p>
</div>
</section>
</li>

</ul>
<ul class="accordion-area">

<li>
<section>
<h3 class="title">タイトル</h3>
<div class="box">
<p>内容が入ります。</p>
</div>
</section>
</li>

</ul> {% endcomment %}


<ul class="accordion-area">
{% for post in posts reversed %}

    <li>
      <section>
        <span>ユーザー名: {{ post.client_id }}</span>
        <span>出発地: {{ post.departure_place }}</span>
        <span>目的地: {{ post.destination_place }}</span>
        <span>配達希望日: {{ post.delivery_date }}</span>
        <h3 class="title">{{ post.title }}</h3>
        <div class="box">
          <p>{{ post.text }}</p>
          <span><a href="{% url 'main:chat' post.id %}">チャットする</a><span/>
        </div>
      </section>
    </li>

{% endfor %}
<ul>



{% comment %} <table>
  <tr>
    {% for col in header %}
    <th>{{ col }}</th>
    {% endfor %}
  </tr>
  {% for post in posts reversed %}
  <tr>
    <td>{{ post.client_id }}</td>
    <td>{{ post.title }}</td>
    <td>{{ post.departure_place }}</td>
    <td>{{ post.destination_place }}</td>
    <td>{{ post.delivery_date }}</td>
    <td>{{ post.text }}</td>
    <td><a href="{% url 'main:detail' post.id %}">詳細画面</a></td>
  </tr>
  {% endfor %}
</table> {% endcomment %}

{% endblock %}
