{% extends "main/layout.html" %}

{% block mainblock %}
  <h1>地域の依頼一覧</h1>

  <ul class="accordion-area">
  {% for post in posts reversed %}

      <li>
        <section>

          <span>ユーザー名: {{ post.client_id }}</span>
          <span>投稿日時: </span> {% comment %} 投稿日時(時刻含めて)を設定したい {% endcomment %}
          {% if post.photo %}
            <div>
              <img src="{{ post.photo.url }}" id="resizeImage">
            </div>
          {% endif %}

          <h3 class="title">{{ post.title }}</h3>

          <div class="box">
            <p>{{ post.text }}</p>
            <div><a href="{% url 'main:detail' post.id %}">詳細を見る</a><span/></div>
          </div>

        </section>
      </li>

  {% endfor %}
  <ul>

  {% comment %} 以下、オリジナル {% endcomment %}
  {% comment %} <table>
    <tr>
      {% for col in header %}
      <th>{{ col }}</th>
      {% endfor %}
    </tr>
    {% for post in posts reversed %}
    <tr>
      <td>{{ post.client_id }}</td>
      <td>{{ post.title }}</td>
      <td>{{ post.departure_place }}</td>
      <td>{{ post.destination_place }}</td>
      <td>{{ post.delivery_date }}</td>
      <td>{{ post.text }}</td>
      <td><a href="{% url 'main:detail' post.id %}">詳細画面</a></td>
    </tr>
    {% endfor %}
  </table> {% endcomment %}

{% endblock %}
