{% extends "main/layout.html" %} 

{% block mainblock %}
    <h1>Modelテスト</h1>
    <h2>User_info一覧</h2>
    {{user}}
    {{user.id}}
    {% if all_user_info %}
        <table class="table">
            <thead>
                <tr>
                    <th>user_name</th>
                    <th>is_driver</th>
                    <th>region</th>
                    <th>total_socore</th>
                </tr>
            </thead>
            <tbody>
                {% for i in all_user_info %}
                        <tr>
                            <th>{{i.user_name}}</th>
                            <th>{{i.is_driver}}</th>
                            <th>{{i.region}}</th>
                            <th>{{i.total_socore}}</th>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>ユーザー情報編集</h2>
         <table class="table">
            <thead>
                <tr>
                    <th>user_name</th>
                    <th>is_driver</th>
                    <th>region</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <form action="{% url 'main:profile' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_table }}
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th><button type="submit" name="saving">保存</button></th>
                    </tr>
                </form>
            </tbody>
        </table>
    {% endif %}
{% endblock %}