{% extends "main/layout.html" %} 

{% block mainblock %}
    <h1>Modelテスト</h1>
    <h2>User_info一覧</h2>
    {% if all_user_info %}
    <p>
            <a href="{% url 'main:user_edit' %}">
                プロフィール編集
            </a>
        </p>
    <table class="table">
        <thead>
            <tr>
                <th>user_name</th>
                <th>is_driver</th>
                <th>region</th>
                <th>total_socore</th>
            </tr>
        </thead>
        <tbody>
            {% for i in all_user_info %}
                <tr>
                    <th>{{i.user_name}}</th>
                    <th>{{i.is_driver}}</th>
                    <th>{{i.region}}</th>
                    <th>{{i.total_socore}}</th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>
            <a href="{% url 'main:user_edit' %}">
                User_infoは空だヨ
            </a>
        </p>
    {% endif %}
{% endblock %}