<html>
<head>
    <meta charset="utf-8">
    <title>テスト</title>
</head>
<body>
    <h1>Modelテスト</h1>
    <h2>User_info一覧</h2>
    {% if all_user_info %}
    <table class="table">
        <thead>
            <tr>
                <th>user_name</th>
                <th>is_driver</th>
                <th>hashed_pass</th>
                <th>region</th>
                <th>total_socore</th>
            </tr>
        </thead>
        <tbody>
            {% for i in all_user_info %}
                <tr>
                    <th>{{i.user_name}}</th>
                    <th>{{i.is_driver}}</th>
                    <th>{{i.hashed_pass}}</th>
                    <th>{{i.region}}</th>
                    <th>{{i.total_socore}}</th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>User_infoは空だヨ</p>
    {% endif %}
    
</body>
</html>